* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------*/
html {
  height: 100%;
}

body {
  background: url("../../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

.header {
  /* background: url('../../img/mic-1132528_1280.webp')0 -100px no-repeat;*/
  background-size: cover;
  height: 200px;
}
.header .container {
  top: 40%;
  text-align: center;
  position: relative;
}
.header__title {
  font-size: 42px;
  text-shadow: 5px 5px 6px #000;
  color: #fff;
}

.content {
  padding: 0 10px;
}
.content .item {
  max-width: 1000px;
  border: 3px solid #7c0b5e;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px 10px;
}
.content .item__question {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
}
.content .item__textInput {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  border: 2px solid #7c0b5e;
  border-radius: 5px;
  padding: 5px;
}
.content .item__options .options__item {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .item__options .options__item .item__checkInput {
  height: 24px;
  width: 24px;
  margin: 0 20px 0 0;
}
.content .item__options .options__item .checkLabel {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.content .item__button {
  position: relative;
  right: 0px;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #7c0b5e;
  border-radius: 5px;
  color: #fff;
  background: none;
}
.content .item__button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.content .item__button.active {
  background-color: #7c0b5e;
}
.content .submit__item {
  max-width: 1000px;
  margin: 50px auto;
}
.content .submit__item .submit {
  position: relative;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  display: block;
  border: 2px solid #7c0b5e;
  border-radius: 5px;
  color: #fff;
  background: none;
}
.content .submit__item .submit:hover {
  background-color: #7c0b5e;
}

.red {
  display: none;
  width: 200px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.red img {
  width: 100px;
  margin: 20px auto;
}

.yellow {
  display: none;
  width: 200px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.yellow img {
  width: 100px;
  margin: 20px auto;
}

.green {
  display: none;
  width: 200px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.green img {
  width: 100px;
  margin: 20px auto;
}

.show {
  display: block;
}
.show span {
  color: #fff;
}

.bedge__container {
  max-width: 1000px;
  margin: 0 auto;
}